<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Спасибо за интерес, <%= @potential_client.first_name %>!</h1>
<p>
  Вы оставили свой адрес электронной почты на сайте loremipsum.com.
  В течение 3 рабочих дней обязательно с вами свяжемся.<br>
</p>
<p>Отличного вам дня!</p>
</body>
</html>